.App {
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 60%;
  margin: 0px auto;
}

article {
  background: gainsboro;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}